@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;/*porque por padrão ja vem com 8px de margin, entao com isso tiramos ela*/
    font-family: 'Noto Sans', sans-serif;
    background-color: #201b2c;
}
/* ESTILO DO CABEÇALO*/
header{
    padding: 5px 4%;
    box-shadow: 0 0 15px black;
}
.menu-desktop{
    width: 85%;
}
header > .interface{ /*para puxar somente os intens, para não interferir os outros*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo h1{/*cor texto Portal do Aluno*/
    color: rgb(255, 255, 255);
    font-size: 20px;
    
}
header .logo span{
    color: rgb(132, 14, 201);
}

header a{
    color: #4d4d4d;
    text-decoration: none;/*para tirar o sublinhado*/
    display: inline-block;/* vai ter as propriedades do inline e do block, então assim fazendo funcionar a propriedade transform do hover*/
    transition: .2s;/* transição para realizar esse scale*/
}
header a:hover{
    color: #fff;
    transform: scale(1.05);/*nao funcionou pq essa propriedade so funciona para block level, serve para aumentar so um pouquinho, o scale é bem ignorante*/
}
header nav ul{
    list-style-type: none; /* para fazer sumir as bolinhas do link*/
}

header nav ul li{
    display: inline-block; /*para ficar uma do lado da outra*/
    padding: 0 80px;
    font-weight: 700;
    font-size: 15px;
}

/**/
